default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch('PGHOST') { 'localhost' } %>
  user: <%= ENV.fetch('PGUSER') { 'root' } %>
  password: <%= ENV.fetch('PGPASS') { '1' } %>
  timeout: 5000

development:
  <<: *default
  database: <%= ENV.fetch('PGDATABASE') { 'english_leaner_development' } %>

test:
  <<: *default
  database: <%= ENV.fetch('PGDATABASE') { 'english_leaner_test' } %>

production:
  url: <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  adapter: postgresql
